.card {
    background-color: lightgrey;
    height: 24em;
    width: 19em;
    display: flex;
    border: 3px solid #282c34;
    border-radius: 4%;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #282c34;
    flex-direction: column;
    box-shadow: inset 0px 0px 12px 12px grey;
    padding-bottom: 15px;
}
.title {
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
    padding: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18%;
    background-color: #282c34;
    color: lightgrey;
    text-shadow: 2px 2px 2px black;
    white-space:pre-wrap;
}
.frontImage {
    padding: 10px;
}
.backTitle {
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
    padding-top: .4em;
    padding-bottom: .4em;
}
.cardImages {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.backContent {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
button {
    width:75%;
}