.Home {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Arial Black", Gadget, sans-serif;
}

body{
  display: flex;
  flex-flow: column;
  height:100vh;
}

.Header {
  display: flex;
  flex-direction: row;
  height: 4.8em;
  justify-content: space-between;
  border-bottom: 1em solid lightgrey;
  background-color: #1B1B1B;
}

.ButtonRow {
  display: flex;
  float: right;
}


.mainContent {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-color: grey;
}

.HeaderButton {
  padding-left: 2em;
  padding-right: 4em;
}

.HeaderButton:hover {
  background-color: lightgrey;
}

.HeaderButton:hover h1 {
  color: #282c34;
}

.SiteTitle {
  font-size: 3em;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: .5em;
}

