.Home {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Arial Black", Gadget, sans-serif;
}

body{
  display: flex;
  flex-flow: column;
  height:100vh;
}

.Header {
  display: flex;
  flex-direction: row;
  height: 4.8em;
  justify-content: space-between;
  border-bottom: 1em solid lightgrey;
  background-color: #1B1B1B;
}

.ButtonRow {
  display: flex;
  float: right;
}


.mainContent {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-color: grey;
}

.HeaderButton {
  padding-left: 2em;
  padding-right: 4em;
}

.HeaderButton:hover {
  background-color: lightgrey;
}

.HeaderButton:hover h1 {
  color: #282c34;
}

.SiteTitle {
  font-size: 3em;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: .5em;
}

.Feed {
  position: relative;
  border-right: #444444 .1em solid;
  border-left: #444444 .1em solid;
  background-color: gainsboro;
  width: 50%;
  height: 90vh;
  overflow-y: scroll;
}

.Post {
  position: relative;
  padding-left: 1em;
  padding-right: .25em;
  margin: 1em;
  border: 2px solid grey;
  border-radius: 1em;
}

.PostHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.PostAuthor {
  font-size: 1em;
  width:30%;
  height: 2.5em;
}

.PostTitle {
  font-size: 1.5em;
  line-height: 1.2em;
  width: 60%;
  padding-bottom: 0;
  margin-bottom: 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3em;
}
.Arrow {
  margin-right: 10px;
  margin-left: 5px;
}
.PostDest {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  padding-right: 3%;
}
.PostBody {
  padding: 1%;
}

.ProfilePic {
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 5px;
  height: 40px;
  width: 40px;
  border-radius: 40px;
}


