html,
body {
  margin: 0;
}

#sideBar {
  background-image: url("../assets/whitePattern.jpg");

  float: left;
  font-family: sans-serif;
  margin-right: 10%;
}

.mapPageContent {
  background-image: url("../assets/whitePattern.jpg");

  height: 100%;
}

#page-wrap {
  padding-top: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 2px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
    padding-top: 10px;
}

.title {
    padding-bottom: 5px;
    color: #858c72;
}

.map {
  margin-left: 50px;
}

.mapAndSidebar {
  display: flex;
  flex-direction: row;
  padding-top: 0%;
}

.mapImage {
  width:auto;
  height: 100px;
}