




.container-banner{
    background-color: #f1f1f1;
    text-align: center;
    border-style: hidden;
    border-radius: 15px;
    font-family: 'Ruda', sans-serif;
}

#profilePic{
    border-radius: 85px;
    padding-top: 7px;
}

.container-about{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-style: hidden;
    padding: 18px; 
    text-align: center;
}

.container-about>p{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 30px;
  

}
.container-about>h1{
    font-family: 'Ruda', sans-serif;
}


.projects{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-style: hidden;
    padding: 18px; 
    text-align: center;
    
}
.projects h1{
    font-family: 'Ruda', sans-serif;
}

.projects p{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}



.container-1{
    color: black;
    text-align: center;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 16px;
}
   
.container-1 > a{
    padding-left: 5px;
    font-size: 22px;
    text-decoration: none;
    
}
#ProfilePage span:hover{
    text-decoration: none;
    transform: scale(1.5);
    
}

#ProfilePage button:hover{
    text-decoration: none;
    transform: scale(1.5);
}

.test{
    display: flex;
    justify-content: space-evenly;
}

.container-2{
    color: black;
    text-align: center;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 16px;
}

.container-2 > a{
    padding-left: 5px;
    font-size: 22px;
    text-decoration: none;
    
}